$black:#000;
$spans:#001c33;
$bg:#003561;
$white:#fff;
$title:#0f4c75;
$text_dest:#4bace2;
//gradientes
$btn:linear-gradient(to bottom, #3282b8 0%,#0f4c75 100%);
$btn_hover:linear-gradient(to bottom,#0f4c75  0%, #3282b8 100%);
